a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_2a64b3ae a { text-decoration: none; }
#menu_2a64b3ae_pane { background-color: #000000; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_2a64b3ae_hr { background-color: #000000; height: 1px; border: none; }
#menu_2a64b3ae_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_2a64b3ae_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_2a64b3ae_entry:hover span { color:#FFFFFF !important; }
		.menu_2a64b3ae_mainMenuEntry { text-align: center; }
		.menu_2a64b3ae_mainMenuEntry:hover {	background-color:#565356; }
		.menu_2a64b3ae_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_2a64b3ae .mobileEntry { display: none; } 
		#menu_2a64b3ae .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_2a64b3ae .mobileEntry { display: block; } 
			#menu_2a64b3ae .normalEntry { display: none; } 
		}
#button_2f30c3e2 { box-sizing: border-box; vertical-align: bottom; border-radius: 23px; position:relative; display: inline-block; float:right; margin:3px 8px 0px 0px;width:46px; height:46px; background-color:#000000; background-image: url(images/ig_button.png); background-position:center right; background-size:cover; border: 2px solid #000000;  }
#button_2f30c3e2:hover { border-color:#FFFFFF;  }
#button_2f30c3e2:hover span { color:#FFFFFF; }
#button_44152f60 { box-sizing: border-box; vertical-align: bottom; border-radius: 23px; position:relative; display: inline-block; float:right; margin:3px 8px 0px 0px;width:46px; height:46px; max-width:46px; background-color:#000000; background-image: url(images/id_button.png); background-position:center right; background-size:cover; border: 2px solid #000000;  }
#button_44152f60:hover { border-color:#FFFFFF;  }
#button_44152f60:hover span { color:#FFFFFF; }
#button_73390108 { box-sizing: border-box; vertical-align: bottom; border-radius: 23px; position:relative; display: inline-block; float:right; margin:3px 8px 0px 0px;width:46px; height:46px; max-width:46px; background-color:#000000; background-image: url(images/rg_button.png); background-position:center right; background-size:cover; border: 2px solid #000000;  }
#button_73390108:hover { border-color:#FFFFFF;  }
#button_73390108:hover span { color:#FFFFFF; }
#button_29a689e6 { box-sizing: border-box; vertical-align: top; border-radius: 23px; position:relative; display: inline-block; float:right; margin:3px 8px 0px 0px;width:46px; height:46px; max-width:46px; background-color:#000000; background-image: url(images/scholar_button.png); background-position:center right; background-size:cover; border: 2px solid #000000;  }
#button_29a689e6:hover { border-color:#FFFFFF;  }
#button_29a689e6:hover span { color:#FFFFFF; }
#button_4330c70a { box-sizing: border-box; vertical-align: top; border-radius: 25px; position:relative; display: inline-block; float:right; margin:3px 8px 0px 0px;width:46px; height:46px; background-color:#000000; background-image: url(images/mail_button.png); background-position:center right; background-size:cover; border: 2px solid #000000; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_4330c70a:hover { border-color:#FFFFFF;  }
#button_4330c70a:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6058d15 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#000000;  }
#container_6058d15_padding { margin: 6px; display: block;  }
.textstyle2 { text-align:left; }
#menu_2a64b3ae { vertical-align: top; position:relative; display: inline-block; width:600px; height:34px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:118px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:27px;  }
.textstyle3 { font-size:14pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle4 { font-size:14pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:34px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:25px;  }
.menustyle3 { position:absolute; width:100px; height:34px; left:110px;  }
.menustyle4 { position:absolute; width:130px; height:34px; left:210px;  }
.menustyle5 { position:absolute; width:159px; height:34px; left:340px;  }
.menustyle6 { position:absolute; width:100px; height:34px; left:499px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_4c63728e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:180px; background-color:#FFFFFF; background-image: url(images/cactus_sunset.jpg); background-position:center center; background-size:cover;  }
#container_2fd91754 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:180px; background-color:#FFFFFF; background-image: url(images/cactus_sunset.jpg); background-position:center center; background-size:cover;  }
#container_2fd91754_padding { margin: 5px 10px 0px 0px;display: block;  }
#img_1789df23 { vertical-align: top; position:relative; display: inline-block; float:right; margin:6px 25px 0px 0px;width:50%; min-width:80px; max-width:80px; background:none; height:auto;  }
.textstyle6 { text-align:right; }
#text_73cb5bf { vertical-align: top; position:relative; display: inline-block; float:right; width:324px; height:80px; background:none;  }
#text_73cb5bf_padding { margin: 3px 25px 0px 0px;display: block;  }
.textstyle7 { font-size:14pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px #000000;  }
#placeh_ade6698 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:450px;  }
#container_3f964b56 { vertical-align: top; position:relative; display: inline-block; width:100%; min-width:355px; background:none;  }
#img_1c4ecbc4 { vertical-align: top; position:relative; display: inline-block; margin:10px 0px 10px 0px;width:100%; max-width:1200px; background:none; height:auto;  }
#container_238398fe { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_238398fe_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#CC0033; font-style:italic; font-weight:bold;  }
#container_67ecc88c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#DDDDDD; border-top: 1px solid #404040; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_67ecc88c_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-style:italic; font-weight:bold;  }
#container_6e9d1fd4 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6e9d1fd4_padding { margin: 10px; display: block;  }
#container_130419f2 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_76c12120 { vertical-align: bottom; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_fc35958 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_50b9eadc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_50b9eadc_padding { margin: 0px 10px 10px 10px;display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_1cff5fbf { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#DDDDDD; border-top: 1px solid #404040; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_1cff5fbf_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#008000; font-style:italic; font-weight:bold;  }
#container_23dd7d16 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_23dd7d16_padding { margin: 10px; display: block;  }
#container_627a1e39 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_6e474205 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_15070e93 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_2baa17b4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_2baa17b4_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_2d062635 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2d062635_padding { margin: 10px; display: block;  }
#container_35a78225 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_1b0e3570 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:200px; max-width:250px; background:none; height:auto;  }
#container_ea6bc91 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_2e52056e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_2e52056e_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_1fb547d3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_1fb547d3_padding { margin: 10px; display: block;  }
#container_1b42fb7c { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_1aa02385 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_36ae1954 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_9dfc44a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_9dfc44a_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_3e86ccdb { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3e86ccdb_padding { margin: 10px; display: block;  }
#container_4b35f039 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_51330adb { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_65bb95e9 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_541cc4d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_541cc4d_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_441deae9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_441deae9_padding { margin: 10px; display: block;  }
#container_63d1f9fa { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_75c970f0 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_184209dd { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_24c9c287 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_24c9c287_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_2de362e9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background:none;  }
#container_2de362e9_padding { margin: 10px; display: block;  }
#container_13fd8130 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_4903d563 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_75b2acaf { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_12642722 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_12642722_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_19eb25b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_19eb25b_padding { margin: 10px; display: block;  }
#container_7d581cae { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:70px; background:none;  }
#img_7874209d { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_7b617898 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_2161f002 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_2161f002_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_38dcc3d7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_38dcc3d7_padding { margin: 10px; display: block;  }
#container_4f58eb8e { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_44bdc134 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_226d4505 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_203c19b5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background:none;  }
#container_203c19b5_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_79429350 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#DDDDDD; border-top: 1px solid #404040; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_79429350_padding { margin: 10px; display: block;  }
#container_4227db5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_4227db5_padding { margin: 10px; display: block;  }
#container_3a7a8496 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_366980a9 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_7a38a71d { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:60px; background:none;  }
#container_19e90fa5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_19e90fa5_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_35be079e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#DDDDDD; border-top: 1px solid #404040; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_35be079e_padding { margin: 10px; display: block;  }
#container_38b3bd4a { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_38b3bd4a_padding { margin: 10px; display: block;  }
#container_7a6892a9 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_1929ab35 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_338048cb { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:60px; background:none;  }
#container_57da07d8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_57da07d8_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_6eeb7bf3 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6eeb7bf3_padding { margin: 10px; display: block;  }
#container_f78176a { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_1a5c9f83 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_4adab9b8 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_4b34cf92 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_4b34cf92_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_3897802b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3897802b_padding { margin: 10px; display: block;  }
#container_71c50d12 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_50acb434 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_7c354a4e { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_67f37397 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_67f37397_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_59ecbc94 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_59ecbc94_padding { margin: 10px; display: block;  }
#container_5273b263 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_a72823 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_4a18a4b3 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_491727e3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_491727e3_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_5ed3bce5 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5ed3bce5_padding { margin: 10px; display: block;  }
#container_10d7e9f6 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_31f6626c { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_2fd0cfa3 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_2d9c05f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_2d9c05f5_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_7c28f4a6 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7c28f4a6_padding { margin: 10px; display: block;  }
#container_1e9d99ef { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_1a89f430 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_70526b14 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_451444ec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_451444ec_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_2063fee4 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2063fee4_padding { margin: 10px; display: block;  }
#container_16c6c8c1 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:80px; background:none;  }
#img_44152f60 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_77c0a2b3 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_acb85b1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_acb85b1_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_1370164f { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1370164f_padding { margin: 10px; display: block;  }
#container_34b17f57 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_28216ae5 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_6003b071 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_1b724e5d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_1b724e5d_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_7b3f0952 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7b3f0952_padding { margin: 10px; display: block;  }
#container_606a5ad4 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_54dce845 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_3a4e7816 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_5af520cb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_5af520cb_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_7bb91f7 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7bb91f7_padding { margin: 10px; display: block;  }
#container_22e6e836 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_5acdebaa { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_242537b3 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_576ee591 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_576ee591_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_29618c95 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_29618c95_padding { margin: 10px; display: block;  }
#container_25efef4f { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#img_220ca182 { vertical-align: top; position:relative; display: inline-block; width:40%; min-width:250px; max-width:250px; background:none; height:auto;  }
#container_3fe14bf0 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_3dc1858d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_3dc1858d_padding { margin: 0px 10px 10px 10px;display: block;  }
#container_8b0cdcc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_8b0cdcc_padding { margin: 10px; display: block;  }
#container_1f58b967 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#000000;  }
#container_3148d828 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:60px; background:none;  }
#container_3148d828_padding { margin: 5px; display: block;  }
#container_3a40e199 { vertical-align: top; position:relative; display: inline-block; float:left; margin:5px 0px 8px 15px;width:24%; min-height:40px; min-width:150px; max-width:150px; background:none;  }
.textstyle13 { font-size:8pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#button_2f30c3e2_padding { margin: 0px 8px 0px 0px;display: block;  }
#button_44152f60_padding { margin: 0px 8px 0px 0px;display: block;  }
#button_73390108_padding { margin: 0px 8px 0px 0px;display: block;  }
#button_29a689e6_padding { margin: 0px 8px 0px 0px;display: block;  }
#button_4330c70a_padding { margin: 0px 8px 0px 0px;display: block;  }
@media only screen and (max-width: 450px)
{
		#menu_2a64b3ae { width:100px;  }
}
@media only screen and (max-width: 750px)
{
		#container_130419f2 { width:100%;  }
		#container_fc35958 { width:100%;  }
		#container_627a1e39 { width:100%;  }
		#container_15070e93 { width:100%;  }
		#container_35a78225 { width:100%;  }
		#container_ea6bc91 { width:100%;  }
		#container_1b42fb7c { width:100%;  }
		#container_36ae1954 { width:100%;  }
		#container_4b35f039 { width:100%;  }
		#container_65bb95e9 { width:100%;  }
		#container_63d1f9fa { width:100%;  }
		#container_184209dd { width:100%;  }
		#container_13fd8130 { width:100%;  }
		#container_75b2acaf { width:100%;  }
		#container_7d581cae { width:100%;  }
		#container_7b617898 { width:100%;  }
		#container_4f58eb8e { width:100%;  }
		#container_226d4505 { width:100%;  }
		#container_3a7a8496 { width:100%;  }
		#container_7a38a71d { width:100%;  }
		#container_7a6892a9 { width:100%;  }
		#container_338048cb { width:100%;  }
		#container_f78176a { width:100%;  }
		#container_4adab9b8 { width:100%;  }
		#container_71c50d12 { width:100%;  }
		#container_7c354a4e { width:100%;  }
		#container_5273b263 { width:100%;  }
		#container_4a18a4b3 { width:100%;  }
		#container_10d7e9f6 { width:100%;  }
		#container_2fd0cfa3 { width:100%;  }
		#container_1e9d99ef { width:100%;  }
		#container_70526b14 { width:100%;  }
		#container_16c6c8c1 { width:100%;  }
		#container_77c0a2b3 { width:100%;  }
		#container_34b17f57 { width:100%;  }
		#container_6003b071 { width:100%;  }
		#container_606a5ad4 { width:100%;  }
		#container_3a4e7816 { width:100%;  }
		#container_22e6e836 { width:100%;  }
		#container_242537b3 { width:100%;  }
		#container_25efef4f { width:100%;  }
		#container_3fe14bf0 { width:100%;  }
}
